* {
    box-sizing: border-box
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open-Sans', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

.container {
    display: block;
    text-align: center;
}

#input {

    width: 400px;
    display: inline-block;
    height: 50px;
    border-radius: 9px 0px 0 9px;
    box-shadow: none;
    border: 1px solid #ccc;
    vertical-align: middle;
    font-size: 16px;
    padding: 0 10px;
}

#input:focus {
    outline: 0;
}

#submit-btn {

    height: 50px;
    border: 1px solid #ccc;
    background: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    border-radius: 0 9px 9px 0;
    padding: 0 10px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;

}
#submit-btn:hover {
    background: #5d5d5d;
}
#submit-btn:focus {
    outline: 0;
}

error {
    display: block;
    color: red;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.results {

    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background: #fff;
    padding: 15px;

}

h1 {
    text-align: center;
}